*{
    margin: 0;
    padding: 0;
}
body{
    background: blueviolet;
    display: flex;
    height:60vh;
}
.container{
    position: absolute;
    left: 500px;
    justify-content: center;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    width: 300px;
    padding: 45px;
    height: 200px;
    margin-top: 0px;
}
.container > .row
{
    width: 100%;
    justify-content: space-evenly;

}
.container1{
    position: absolute;
  top: 350px;
  right: 0;
    justify-content: center;
    background: white;
    display: flex;
    flex-direction: column;   
    border-radius: 50px;
    width: 300px;
    padding: 50px;
    margin-top: 50px; 
    height: 150px;
}
.container1 > .row
{
    width: 100%;
    justify-content: space-evenly;

}
.container2{
    position: absolute;
  top: 350px;
  right: 200;
    justify-content: center;
    background: white;
    display: flex;
    flex-direction: column;   
    border-radius: 50px;
    width: 300px;
    padding: 50px;
    margin-top: 50px; 
    height: 150px;
}
.container2 > .row
{
    width: 100%;
    justify-content: space-evenly;

}
.row{
    display: flex;

}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    margin: 20px;
    font-size: x-large;
    font-weight: bold;
}
.logo{
    border-radius: 50%;
    border: 2px solid bisque;
}
#circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid black;
}
.score{
    font-size: large;
    width: 100px;
    justify-content: space-evenly;
}
.score > .span{
    margin: 0 5px;
    
}
.round-shoots{
    font-size: large;
    width: 150px;
    justify-content: space-evenly;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#strike{
    display: block;
    margin: auto;
    border: none;
    border-radius: 25px;
    font-size: large;
    background: linear-gradient(135deg,red,yellow);
    width: 150px;
    color: white;
    padding: 10px;
    margin-top:50px;
    margin-bottom: -50px;
    outline:none; 
    
}

